[submodule "LabBook/ROLatex"]
	path = LabBook/ROLatex
	url = git@github.com:rowoflo/ROLatex
[submodule "NoteBook/ROLatex"]
	path = NoteBook/ROLatex
	url = git@github.com:rowoflo/ROLatex
[submodule "MyIEEEConf/ROLatex"]
	path = MyIEEEConf/ROLatex
	url = git@github.com:rowoflo/ROLatex
[submodule "MyDefault/ROLatex"]
	path = MyDefault/ROLatex
	url = git@github.com:rowoflo/ROLatex
