[submodule "LabBook/ROPackages"]
	path = LabBook/ROPackages
	url = git@github.com:rowoflo/ROPackages.git
[submodule "MyIEEEConf/ROPackages"]
	path = MyIEEEConf/ROPackages
	url = git@github.com:rowoflo/ROPackages.git
[submodule "MyDefault/ROPackages"]
	path = MyDefault/ROPackages
	url = git@github.com:rowoflo/ROPackages.git
